body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(232, 232, 232) #F7F9FB  !important; */
  background-image: linear-gradient(#F7F9FB, #fbf6f2) !important;
}

img {
  height: 120px;
  width: 200px;
}

/* Main Page Videos Lists */
.videos-list-trending {
  margin-top: 50px;
}

.videos-list {
  margin-top: 40px;
}

.media-info .media-info-channel-title{
  font-size: 12px;
  color: grey;
  text-decoration: none;
}

.media-info .media-info-title{
  font-size: 15px;
  color: black;
  text-decoration: none;
  width: 200px
}

.media-info-description {
  color: grey;
  font-size: 12px;
}

/* Video Page with Video Player and Related Videos */
.related-videos, .list-group-item {
  background-color: #fbf6f2 !important;
}

.related-videos {
  color: black;
  font-size: 14px;
  margin-left: 10px;

}

.related-videos-channel {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
}

/* Searchbar Results */
.search-result-title {
  color: black;
}

.search-result-channel-title {
  color: grey;
  font-size: 12px;
}

.search-result-description {
  color: grey;
  font-size: 12px;
}

/*  Navbar  */
.navbar {
  background-image: linear-gradient(to bottom right, #fbf6f2, #F7F9FB);
}
